In [4]:
import pandas as pd
import pickle
import sys

sys.path.append('../')

# Load the data
file_name = 'data.csv'

df = pd.read_csv('Data/' + file_name, low_memory=False)

FileNotFoundError: [Errno 2] No such file or directory: 'Data/data.csv'

In [18]:
df = pd.read_csv('data2.csv', low_memory=False)

In [19]:
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,1001099999,2003-01-01T00:00:00,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",FM-12,4,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001099999,2003-01-01T01:00:00,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",FM-12,4,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001099999,2003-01-01T02:00:00,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",FM-12,4,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001099999,2003-01-01T03:00:00,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",FM-12,4,NaN,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001099999,2003-01-01T04:00:00,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",FM-12,4,NaN,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
monthly_column_names = [col for col in df.columns if col[0:7] == 'Monthly']
monthly_column_names.append('DATE')

monthly_data = df[monthly_column_names]
monthly_data['MONTH'] = monthly_data['DATE'].apply(lambda x: x[5:7])

# Drop the date
monthly_data.drop('DATE', axis=1, inplace=True)

/tmp/ipykernel_15279/2382327489.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data['MONTH'] = monthly_data['DATE'].apply(lambda x: x[5:7])
/tmp/ipykernel_15279/2382327489.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data.drop('DATE', axis=1, inplace=True)

In [21]:
monthly_data.isnull().sum()

MonthlyAverageRH                                8356
MonthlyDaysWithGT001Precip                      8356
MonthlyDaysWithGT010Precip                      8356
MonthlyDaysWithGT32Temp                         8356
MonthlyDaysWithGT90Temp                         8356
MonthlyDaysWithLT0Temp                          8356
MonthlyDaysWithLT32Temp                         8356
MonthlyDepartureFromNormalAverageTemperature    8356
MonthlyDepartureFromNormalCoolingDegreeDays     8356
MonthlyDepartureFromNormalHeatingDegreeDays     8356
MonthlyDepartureFromNormalMaximumTemperature    8356
MonthlyDepartureFromNormalMinimumTemperature    8356
MonthlyDepartureFromNormalPrecipitation         8356
MonthlyDewpointTemperature                      8356
MonthlyGreatestPrecip                           8356
MonthlyGreatestPrecipDate                       8356
MonthlyGreatestSnowDepth                        8356
MonthlyGreatestSnowDepthDate                    8356
MonthlyGreatestSnowfall                         8356
MonthlyGreatestSnowfallDate                     8356
MonthlyMaxSeaLevelPressureValue                 8356
MonthlyMaxSeaLevelPressureValueDate             8356
MonthlyMaxSeaLevelPressureValueTime             8356
MonthlyMaximumTemperature                       8356
MonthlyMeanTemperature                          8356
MonthlyMinSeaLevelPressureValue                 8356
MonthlyMinSeaLevelPressureValueDate             8356
MonthlyMinSeaLevelPressureValueTime             8356
MonthlyMinimumTemperature                       8356
MonthlySeaLevelPressure                         8356
MonthlyStationPressure                          8356
MonthlyTotalLiquidPrecipitation                 8356
MonthlyTotalSnowfall                            8356
MonthlyWetBulb                                  8356
MONTH                                              0
dtype: int64

In [22]:
monthly_data.dropna(axis=1, how='all', inplace=True)

/tmp/ipykernel_15279/3746123032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data.dropna(axis=1, how='all', inplace=True)

In [23]:
monthly_data

     MONTH
0       01
1       01
2       01
3       01
4       01
...    ...
8351    12
8352    12
8353    12
8354    12
8355    12

[8356 rows x 1 columns]

In [24]:
day_column_names = [col for col in df.columns if col[0:5] == 'Daily']
day_column_names.append('DATE')

day_data = df[day_column_names]

#converting the date to month
day_data['MONTH'] = day_data['DATE'].apply(lambda x: x[5:7])
day_data.drop('DATE', axis=1, inplace=True)

/tmp/ipykernel_15279/3659736230.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_data['MONTH'] = day_data['DATE'].apply(lambda x: x[5:7])
/tmp/ipykernel_15279/3659736230.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_data.drop('DATE', axis=1, inplace=True)

In [25]:
day_data.dropna(axis=1, how='all', inplace=True)

/tmp/ipykernel_15279/3255657076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_data.dropna(axis=1, how='all', inplace=True)

In [26]:
day_data

     MONTH
0       01
1       01
2       01
3       01
4       01
...    ...
8351    12
8352    12
8353    12
8354    12
8355    12

[8356 rows x 1 columns]